.titulo {
    display: flex;
    justify-content: center;
}

textarea {
    font-family: inherit;
    resize: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    resize: none;
    width: 100%;
    font-size: 1rem;
}

.input {
    display: flex;
    padding: 5px;
    margin: 10px;
    width: 100%;
}

.boton {
    display: flex;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    height: auto;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: rgb(110, 84, 121);
}