.cardDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 75, 75);
    padding: 33px;
}

.hoodie {
    margin-bottom: 0px;
    margin-top: 3px;
}

.description {
    margin-top: 0px;
}

.botonFinalizar {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    height: 100%;
    padding: 10px;
    background-color: rgb(110, 84, 121);
}
