.iconoCarrito {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    margin-right: 10px;
    color: #FFFF;
}

.productsCarrito {
    font-size: 20px;
}

path {
    stroke: #FFFF;
}
