.cardGeneral {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
}

.cardImage {
    max-width: 300px;
    padding: 1rem;
    padding-bottom: 0px;
}

.cardTitle {
    font-size: 22px;
}

.cardPrecio {
    font-size: 20px;
}